$input-clr: #f0f0f0;
$main-clr: #137f74;
$back-clr: #e8f4ff;
$stnd-clr: #474747;
$head-clr: #002d4c;
$button-clr: #3389c7;
$info-clr: #78c6ff;
$tile-bg-clr: #f5f9ff;
$tile-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
$bx-sh: 4px 4px 10px rgba(255, 255, 255, 0.1);
$mh-auto: 0 auto;
$pulse-vis: rgba(61, 155, 255, 0.3);
$pulse-invis: rgba(36, 102, 255, 0);

//$variable1 = Максимальное значение шрифта, $variable2 = минимальное значение шрифта
// dynamicFontSize(20,10);
@mixin dynamicFontSize($variable1, $variable2) {
  font-size: calc(
    (100vw - 480px) / (1280 - 480) * (#{$variable1} - #{$variable2}) + #{$variable2}px
  );
}
